*{
    margin:0;
    padding:0;
  }
body{
    background-color:#313E51;
    font-family: 'Rubik', sans-serif;
}
.app{
    width:70%;
    margin:0 auto;
    padding:1em;
}

.body-container{
    margin:2em 0;
    display:grid;
}

/*from Mode.tsx*/
.mode-container{
    position: relative;
    height: 100%;
    width:50px;
    padding:.2em;
    border-radius:20px;
    background-color:#d9abff;
    display:grid;
    align-items:center;
}
.mode{
    width:25px;
    border-radius:100%;
    aspect-ratio:1/1;
    background-color:#fff;
    border:none;
    cursor: pointer;
}
.mode-icons{
    font-size:25px;
}
/*from Welcome.tsx*/
.welcome-container{
    padding:0 1em;
    display:flex;
    flex-direction:column;
    gap:1.2em;
    margin:0 auto;
}
.welcome{
    color:#fff;
    font-size:55px;
    font-weight:none;
    display:flex;
    flex-direction:column;
}
.welcome-container span{
    font-weight:bold;
}
.pick{
    font-size:20px;
    color:#fff;
}

/*from Choice.tsx*/
.choice{
    padding:1em;
    display:flex;
    flex-direction:column;
    align-items:end;
    gap:1em
}
.choice-container{
    width:400px;
    display:flex;
    background-color:#3B4C66;
    font-size:20px;
    color:#fff;
    padding:.5em;
    border-radius:10px;
    gap:1.2em;
    align-items:center;
    cursor: pointer;
    /* margin:0 auto; */
}

.icon-container{
    width:30px;
    height:30px;
    padding:2px;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
}

@media (min-width:1100px){
    .body-container{
        grid-template-columns:repeat(2,1fr);
    }
}

@media (max-width:1099px){
    .body-container{
        gap:2em;
    }
    .welcome-container{
        margin:0;
    }

    .choice{
        align-items:start;
    }

    .choice-container{
        width:100%;
    }
}

@media (max-width:699px){
    .mode-icons{
        font-size:20px;
    }
    .mode-container{
        width:45px;
    }
    .mode{
        width:20px;
    }
    .welcome{
        font-size:40px;
    }
    .pick{
        font-size:17px;
    }
}

@media (max-width:400px){
    .body-container{
        gap:.5em;
    }
    .mode-icons{
        font-size:18px;
    }
    .mode-container{
        width:45px;
    }
    .welcome{
        font-size:30px;
    }
}